<option value="name"
   {% if search_result['query']['name'] is defined %}
       selected="selected"
   {% endif %}
   >Name
</option>
<option value="department"
   {% if search_result['query']['department'] is defined %}
       selected="selected"
   {% endif %}
>Department
</option>
<option value="email"
   {% if search_result['query']['email'] is defined %}
       selected="selected"
   {% endif %}
>Email
<option value="box_number"
   {% if search_result['query']['boxNumber'] is defined %}
       selected="selected"
   {% endif %}
>Box Number
<option value="phone"
   {% if search_result['query']['phone'] is defined %}
       selected="selected"
   {% endif %}
>Phone
</option>
