<div class="contenttable">
    <div class="contentspacer"></div>
    <div class="contentcell">
        {% if search_result is not blank %}
            {% if request_input_summary is not blank %}
            <p>No matches for
                <b>
                    {{ request_input_summary['field']|titleize }}
                    is "{{ request_input_summary['value'] }}"
                </b>.
            </p>
            {% endif %}
        {% elif error is not blank %}
            <p>Encountered error: <b>"{{ error["msg"] }}"</b></p>
        {% endif %}
    </div>
</div>
