        <div id="uw-container">
            <div id="uw-container-inner">
                <header class="uw-thinstrip">
                    <nav class="uw-thin-strip-nav">
                        <ul class="uw-thin-links">
                            <li>
                                <a href="https://uw.edu/maps/" title=
                                "maps">Maps</a>
                            </li>
                            <li>
                                <a href="https://www.lib.washington.edu/" title=
                                "Libraries">Libraries</a>
                            </li>
                            <li>
                                <a href="https://uw.edu/calendar/" title=
                                "Calendar">Calendar</a>
                            </li>
                            <li>
                                <a href="https://myuw.washington.edu" title=
                                "MyUW">MyUW</a>
                            </li>
                            <li>
                                <a href="https://www.washington.edu/search/" title=
                                "UW Search">UW Search</a>
                            </li>
                        </ul>
                    </nav>

                    <div class="container">
                        <a class="uw-patch" href="https://uw.edu" tabindex="-1" title=
                        "University of Washington Home">Home</a> <a class="uw-wordmark"
                        href="https://uw.edu" title=
                        "University of Washington Home">Home</a>
                    </div>
                </header>
            </div>
        </div>
