                <div class="footerblock">
                    <div class="rcwblock">
                        <p>
                            Pursuant to RCW 42.56, the UW is providing this directory information
                            for non-commercial purposes only. Any use of the information for
                            commercial purposes is prohibited.
                        </p>
                    </div>
                    <div class="usebarnav">
                        <h4>Office Directory</h4>
                        <ul>
                            <li>
                              <a href="https://ucs.admin.washington.edu/UWOD">UW Office Directory</a> -
                              Complete listing of UW departments, both administrative and
                              academic.
                            </li>
                        </ul>
                        <h4>Postal Addresses and Box Numbers at the UW</h4>
                        <ul>
                            <li>
                              <a href="https://www.washington.edu/about/addressing-letters-to-the-uw/">
                                  Addressing Letters to the UW</a> -
                              Find the postal address for a department.
                            </li>
                            <li>
                              <a href="https://www.washington.edu/home/boxnumbers/">UW Box Numbers</a> - Box numbers for UW departments.
                            </li>
                        </ul>
                        <h4>Change your address or release information</h4>
                        <ul>
                            <li><a href="https://identity.uw.edu"
                                class="navlink">Faculty/staff publishing options</a>
                            </li>
                            <li><a href="https://isc.uw.edu"
                                class="navlink">Faculty/staff update contact information in Workday</a>
                            </li>
                            <li><a href="https://www.washington.edu/students/studentdirinfo.html"
                                class="navlink">Student directory information</a>
                            </li>
                            <li><a href="https://identity.uw.edu"
                                class="navlink">Set a preferred name</a>
                            </li>
                            <li><a href="https://www.washington.edu/home/siteinfo/form/"
                                class="navlink">Update Office Information (help@uw.edu)</a>
                            </li>
                        </ul>
                    </div>
                </div>
