               <div class="cblock row">
                    <form action="/search/render" method="get" name="dirform">
<!--                    <form action="/search" method="get" name="dirform">-->
                        <div class="col-md-6">
                            <h3>Search by</h3>
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       {% if search_result is defined %}
                                           value="{{ search_result['request'].values()|first }}"
                                       {% else %}
                                           value=""
                                       {% endif %}

                                       style="color:black; height:43px; z-index:0;" id="query" name="name">
                                <input type="hidden" name="show_count" value="true">
                                <span class="input-group-btn">
                                    <button class="btn search" type="submit" id="search"
                                            style="background-color:white; border: thin solid #ddd;">Search</button>
                                </span>
                            </div><!-- /input-group -->
                            <select name="method"
                                     id="method" style="width: 220px; border: 1px solid #bbb; margin: 10px 0;">
                                {% if search_result is defined %}
                                   {% include "dynamic_search_options.html" %}
                                {% else %}
                                   {% include "search_options.html" %}
                                {% endif %}
                            </select>
                        </div>
<!--                        <div class="col-md-3">-->
<!--                            <h3>Search options</h3>-->
<!--                            <label for="whichstaff"><input type="radio" name="whichdir" value="staff"
                                checked="checked" id="whichstaff" />Faculty/Staff Only</label>-->
<!--                            <a href='secure'>Search students</a>-->
<!--                        </div>-->
                        <div class="col-md-2">
                             <h3>Kind of listing</h3>
                             <label for="lengthfull"><input type="radio"  name="length" value="full"
                                  id="lengthfull" />Full</label>
                             <label for="lengthsum">
                                 <input type="radio"  name="length" value="sum" checked="checked"
                                 id="lengthsum" />Summary</label>
                        </div>
                    </form>
               </div>
