{% set search_value = '' %}
{% if request_input is not blank %}
    {% set search_value = request_input['query'] %}
{% endif %}
<div class="cblock row">
    <form action="/search" method="POST" name="dirform"
          enctype="multipart/form-data">
        <div class="col-md-6">
            <h3>Search by</h3>
            <div class="input-group">
                <input type="text" class="form-control"
                       value="{{ search_value }}"
                       style="color:black; height:43px; z-index:0;" id="query"
                       {{ 'autofocus' if request_input is blank }}
                       name="query">
                <input type="hidden" name="show_count" value="true">
                <span class="input-group-btn">
                                    <button class="btn search"
                                            type="submit"
                                            id="search"
                                            style="background-color:white; border: thin solid #ddd;"
                                    >Search</button>
                                </span>
            </div><!-- /input-group -->
            {% include "search_attribute_selection.html" %}
        </div>
        {% include 'search_options.html' %}
    </form>
</div>
