{% set requested_population = None %}
{% if request_input is not blank %}
    {% set requested_population = request_input['population'] %}
{% endif %}
<div id="search-population" class="col-md-3">
    <h3>Search options</h3>
    <label for="population-option-employees">
        <input type="radio"
               id="population-option-employees"
               name="population"
               value="employees"
               {% if requested_population is blank
                  or requested_population == 'employees' %}
                   checked
               {% endif %}
        >
        Faculty/Staff Only
    </label>
    {% if uwnetid is not blank %}
        <label for="population-option-students">
            <input type="radio"
                   id="population-option-students"
                   name="population"
                   value="students"
                   {% if requested_population == 'students' %}
                       checked
                   {% endif %}
            >
            Students Only
        </label>
        <label for="population-option-all">
            <input type="radio"
                   id="population-option-all"
                   name="population"
                   value="all"
                    {% if requested_population == 'all' %}
                        checked
                    {% endif %}
            >
            Faculty/Staff and Students
        </label>
    {% else %}
        <a id="sign-in"
           href="/saml/login">
            Sign in for student search
        </a>
    {%  endif %}
</div>
{% include "search_options/search_type.html" %}
{% set selected_length = 'summary' %}
{% if request_input is not blank %}
    {% set selected_length = request_input['render_length'] %}
{% endif %}
<div class="col-md-2">
    <h3>Kind of listing</h3>
    <label for="length-full">
        <input type="radio"
               name="length"
               value="full"
               id="length-full"
               {{ 'checked="checked"' if selected_length == 'full' else ''}}
    />Full</label>
    <label for="length-summary">
    <input type="radio"
           name="length"
           value="summary"
           id="length-summary"
            {{ 'checked="checked"' if selected_length == 'summary' else ''}}
    />Summary</label>
</div>
