{#
    Do not adhere to conventional indendation in this file.
    Line breaks for long lines must only happen _inside_ jinja blocks.
    field must be on a single line, with no indents.
    Specification: https://tools.ietf.org/html/rfc6350
    Model: husky_directory.models.vcard.VCard
#}
BEGIN:VCARD
{# "Husky Dawg Woofington" becomes "woofington;husky;dawg" #}
N:{{ last_name }};{% for e in name_extras %}{{ e }}{{';' if not loop.last else '' }}{% endfor %}
{# Husky Dawg Woofington #}
FN:{{ display_name }}
{% for title in titles %}
TITLE:{{ title }}
{% endfor %}
{% for dept in departments %}
ORG:University of Washington;{{ dept }}
{% endfor %}
{% if not email is blank %}
{# EMAIL;type=INTERNET;type=WORK:dawg@uw.edu #}
EMAIL;type=WORK:{{ email }}
{% endif %}
{% for phone in phones %}
{# TEL;type="pager,voice":5558675309 #}
TEL;type="{% for pt in phone['types'] %}{{ pt }}{{
        ',' if not loop.last else '' }}{% endfor %}":{{ phone['value'] }}
{% endfor %} {# phone in phones #}
END:VCARD
